.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    cursor: default;
    margin-bottom: 50px;
}

.title-block{
    margin: 10px;
    transition: all 0.5s ease-in-out;
}
.title-block:hover{
    color: #803bff;
}

.info-container{
    display: flex;
    flex-direction: column;
    padding: 15px;
    min-height: 100px;
    width: 78%;
    border: 2px #803bff solid;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
.info-container:hover{
    background-color: rgb(231, 231, 231);
}

.element{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.btn_exit{
    max-width: 120px;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    background-color: #803bff;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
.btn_exit:hover{
    background-color: #0e0420;
    box-shadow: 0 0 20px rgb(179, 179, 179);
    color: white;
}

.mail_link{
    text-decoration: none;
    color: inherit;
    transition: all 0.5s ease-in-out;
}
.mail_link:hover{
    color: #803bff;
}

.policy{
    font-size: 18px;
    font-weight: bold;
    white-space: pre-wrap; 
    word-wrap: break-word; 
    overflow-wrap: break-word;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

h3 {
    font-size: 26px;
    font-weight: bold;
    background: linear-gradient(90deg,#803bff, black, #803bff, black, #803bff);
    background-size: 300% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 7s infinite linear;
}