{% extends "base.html" %} 

{% block title %}Admin{% endblock %}

{% block content %}
    <style>
        .container_admin {
            min-height: 800px;
            padding: 10px;
        }
        .box {
            width: 100%;
            min-height: 10px;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #803bff;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: top;
            justify-content: space-between;
        }
        .un-block-form{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .block-form{
            width: 40%;
            margin: 4px;
        }
        .unblock-form{
            width: 40%;
            margin: 4px;
        }
        button{
            margin-top: 2px;
        }
    </style>

    <div class="container_admin">
        {% if user.email == "fryderyk.otolski@gmail.com" %}
        <h1>Welcome fr3d!</h1>
        <br>
        <p>All users: {{ user_count }}</p>
        <p>All projects: {{ project_count }}</p>
        <br>
        <div class="un-block-form">
            <form method="POST" class="block-form">
                <label for="block">Enter id of user that you want to block</label>
                <input type="text" class="form-control" id="block" name="block" placeholder="Enter id">
                <button type="submit" class="btn-primary">Block</button>
            </form>
            <br>
            <form method="POST" class="unblock-form">
                <label for="unblock">Enter id of user that you want to unblock</label>
                <input type="text" class="form-control" id="unblock" name="unblock" placeholder="Enter id">
                <button type="submit" class="btn-primary">UnBlock</button>
            </form>
        </div>
        <br>

            {% for user in users %}
                <div class="box">
                    <p>{{ user.email }}</p>
                    <p>Id: {{ user.id }}</p>
                    <p>Username: {{ user.first_name }}</p>
                    <p>Surename & name: {{ user.name_surname }}</p>
                    <p>Account created: {{ user.date }}</p>
                    <p>Status: {{ user.status }}</p>
                    <p>Verified: {{ user.verified }}</p>
                    <p>Projects: {{ user.notes|length }}</p>
                </div>
            {% endfor %}
        {% else %}
        <h1>Acces denied!</h1>
        {% endif %}
    </div> 
{% endblock %}