{% extends "base.html" %} 

{% block title %}Admin{% endblock %}

{% block content %}
    <style>
        .container_admin {
            min-height: 800px;
            padding: 10px;
        }
        .box {
            width: 100%;
            min-height: 10px;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #803bff;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: top;
            justify-content: space-between;
        }
    </style>

    <div class="container_admin">
        {% if user.email == "fryderyk.otolski@gmail.com" %}
        <h1>Welcome fr3d!</h1>
            {% for user in users %}
                <div class="box">
                    <p>{{ user.email }}</p>
                    <p>Username: {{ user.first_name }}</p>
                    <p>Surename & name: {{ user.name_surname }}</p>
                    <p>Account created: {{ user.date }}</p>
                    <p>Status: {{ user.status }}</p>
                    <p>Projects: {{ user.notes|length }}</p>
                </div>
            {% endfor %}
        {% else %}
        <h1>Acces denied!</h1>
        {% endif %}
    </div> 
{% endblock %}