{% extends "base.html" %}

{% block content %}
<div class="slider">
    <div class="slides">
        <div class="slide">
            <img src="static/images/img1.png" alt="img 1">
        </div>
    </div>
</div>
<div class="main-content">
    {% if user.is_authenticated %}
        <!--<h1>Welcome {{ user.first_name }}</h1>-->
    {% else %}
        <!--<h1>Welcome</h1>-->
    {% endif %}
    <div class="nessdy-texts">
        <ul>
            <li>
                <h1>NESSDY is a youthful</h1><h1>polish idea</h1>
            </li>
            <li>
                <p>
                    At NESSDY, we celebrate the joy of sharing and creativity. 
                    This is community where people from all walks of life come together to showcase their unique ideas and projects.
                    Here, individuals can share their inventions and concepts with the world, simply because they want to.
                </p>
            </li>
            <li>
                <h1>Collaboration with young artists</h1>
                <h1>is our goal</h1>
            </li>
            <li>
                <p>
                    At NESSDY, we are dedicated to nurturing creativity and empowering talented artists.
                    By collaborating with these emerging creators, we provide them with a valuable platform to share their ideas and realize their projects.
                    This engagement not only allows them to showcase their work but also helps them gain recognition in the creative community.
                </p>
                <br>
                <p>
                    Our mission is to support artists in developing their skills and refining their craft.
                    Through collaboration, we create opportunities for them to grow, ensuring that
                    their unique perspectives are celebrated and integrated into our community.
                    Each project is a stepping stone for these artists, enabling them to build their portfolios and connect with a wider audience.
                </p>
            </li>
            <li>
                <h1>Join Us and become the creator</h1>
            </li>
            <li>
                <p>
                    We invite everyone to join our community and become a creator!
                    Whether you are an artist, an inventor, or simply someone with a passion for sharing ideas, 
                    you will find a welcoming space here. Dive into a treasure trove of inspiring projects and innovative concepts contributed by people just like you.
                </p>
            </li>
        </ul>
    </div>
   
</div>
{% endblock %}