{% extends "base.html" %}

{% block content %}
<div class="slider">
    <div class="slides">
        <div class="slide">
            <img src="static/images/img1.png" alt="img 1">
        </div>
    </div>
</div>
<div class="main-content">
    {% if user.is_authenticated %}
        <!--<h1>Welcome {{ user.first_name }}</h1>-->
    {% else %}
        <!--<h1>Welcome</h1>-->
    {% endif %}
    <div class="nessdy-texts">
        <ul>
            <li>
                <h1>NESSDY is a youthful</h1><h1>Polish initiative</h1>
            </li>
            <li>
                <p>
                    At NESSDY, we celebrate creativity and the joy of sharing. 
                    We're a community where people from all walks of life come together to showcase their unique ideas and projects — simply because they want to.
                </p>
            </li>
            <li>
                <h1>Collaboration with young artists</h1>
                <h1>is our mission</h1>
            </li>
            <li>
                <p>
                    We’re passionate about nurturing creativity and empowering emerging artists. 
                    By collaborating with young creators, we offer a valuable platform for them to share their ideas, bring projects to life, and gain recognition within the creative community.
                </p>
                <br>
                <p>
                    Our mission is to help artists grow, develop their skills, and refine their craft. Every project becomes a stepping stone — a chance to build a portfolio, gain experience, 
                    and connect with a wider audience. We celebrate every unique perspective and work to integrate those voices into our community.
                </p>
            </li>
            <li>
                <h1>Join us and become a creator</h1>
            </li>
            <li>
                <p>
                    We invite everyone to join our community and become a creator!
                    Whether you are an artist, an inventor, or simply someone with a passion for sharing ideas, 
                    you will find a welcoming space here. Dive into a treasure trove of inspiring projects and innovative concepts contributed by people just like you.
                </p>
            </li>
        </ul>
    </div>
   
</div>
{% endblock %}