{% extends "base.html" %}

{% block content %}
<div class="projects_container">
    <h1 class="title-text">WELCOME TO NESSDY CLOUD</h1>
    <br>
    <p class="title-text">Here, you will find a list of all the projects that have been created</p>
    <br>
    <ul class="list-group" id="notes">
        <form method="get" action="{{ url_for('views.shop') }}">
            <label for="select">Filter by:</label>
            <select name="category" id="select" class="select" onchange="this.form.submit()">
                <option value="all" {% if selected_category == 'all' %}selected{% endif %}>Other</option>
                <option value="activism" {% if selected_category == 'activism' %}selected{% endif %}>Activism & Social Impact</option>
                <option value="animation" {% if selected_category == 'animation' %}selected{% endif %}>Animation & Illustration</option>
                <option value="ar-vr" {% if selected_category == 'ar-vr' %}selected{% endif %}>AR/VR</option>
                <option value="community" {% if selected_category == 'community' %}selected{% endif %}>Community Projects</option>
                <option value="digital-art" {% if selected_category == 'digital-art' %}selected{% endif %}>Digital Art</option>
                <option value="diy" {% if selected_category == 'diy' %}selected{% endif %}>DIY & Crafts</option>
                <option value="education" {% if selected_category == 'education' %}selected{% endif %}>Education</option>
                <option value="fashion" {% if selected_category == 'fashion' %}selected{% endif %}>Fashion & Textiles</option>
                <option value="film" {% if selected_category == 'film' %}selected{% endif %}>Film & Video</option>
                <option value="game-dev" {% if selected_category == 'game-dev' %}selected{% endif %}>Game Development</option>
                <option value="graphic-design" {% if selected_category == 'graphic-design' %}selected{% endif %}>Graphic Design</option>
                <option value="literature" {% if selected_category == 'literature' %}selected{% endif %}>Literature & Writing</option>
                <option value="music" {% if selected_category == 'music' %}selected{% endif %}>Music & Audio Production</option>
                <option value="painting" {% if selected_category == 'painting' %}selected{% endif %}>Painting</option>
                <option value="photography" {% if selected_category == 'photography' %}selected{% endif %}>Photography</option>
                <option value="product-design" {% if selected_category == 'product-design' %}selected{% endif %}>Product Design</option>
                <option value="programming" {% if selected_category == 'programming' %}selected{% endif %}>Programming</option>
                <option value="web-dev" {% if selected_category == 'web-dev' %}selected{% endif %}>Web Development</option>
            </select>
        </form>
        {% for note in notes %}
        <h3 class="note-title">{{ note.title }} ~ {{ note.username }}</h3>
        <li class="list-group-item">
            <div class="list-group-item-navigation">
                <div class="collapsible" onclick="toggleContent(this)">Show all</div>
                {% if user.email == "fryderyk.otolski@gmail.com" %}
                    <button type="button" class="close" onclick="deleteNote( {{ note.id }} )">
                        <span aria-hidden="true">&times;</span>
                    </button>
                {% endif %}
            </div>
            <div class="content">
                <h4 class="space">{{ note.title }}</h4>
                <h4 class="space">Description</h4>
                <p class="description">{{ note.data.replace('\n', '<br>') | safe }}</p>
                <h4 class="space">{% if note.spec and note.spec|trim != '' %} Specifications {% endif %}</h4>
                <p class="description">{{ note.spec }}</p>
                <h4 class="space">{% if note.images and note.images|trim != '' %} Uploaded images {% endif %}</h4>
                <div class="images">
                    {% for image in note.images %}
                        <img src="{{ url_for('static', filename='uploads/' + image.path) }}">
                    {% endfor %}
                </div>
                <h4 class="space">{% if note.links and note.links|trim != '' %} Social media {% endif %}</h4>
                {% for link in note.links %}
                    <div class = "media-link"><a href="{{ link.link }}" target="_blank">{{ link.link }}</a></div>
                    <br>
                {% endfor %}  
            </div>
        </li>
        <p class="date" >{{ note.date }}</p>
        <br>
        {% endfor %}
    </ul>
    <br>
</div>
{% endblock %}