{% extends "base.html" %}

{% block content %}
<style>
    .form-group{
        max-width: 300px;
    }
</style>
<div class="login-holder">
    <form method="POST" class="login-form">
        <h3>Verify</h3>
        <div class="form-group">
            <label for="verify">We have sent you a code. Enter it</label>
            <input type="text" class="form-control" id="verify" name="verify" placeholder="Enter code">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">submit</button>
    </form>
</div>
{% endblock %}